{
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "curly": [2],
    "quotes": [1, "double"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-dangle": [0],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-console": [0],
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "warn"
  },
  "globals": {
    "Generator": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  parserOptions: {
    ecmaVersion: 12,
    parser: '@babel/eslint-parser',
    requireConfigFile: false,
    sourceType: 'module',
  },
  "extends": [
    "eslint:recommended",
    "plugin:cypress/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "cypress"
  ]
}