.dropzone {
  border: dashed 2px var(--divider-color);
  color: var(--text-color);
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  &:hover {
    background: var(--divider-color);
  }
  div {
    padding: 40px 80px;
  }
}
