@import "../../../www/styles/variables";

.dashboardLayout {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: stretch;
  // Desktop only
  @media screen and (min-width: $smallScreen) {
    overflow: hidden;
  }
}