@import "../../../www/styles/variables";

// $radiusCorner: 14px;
// $layoutGap: 26px;

.trendModal {
  position: absolute;
  top: $layoutGap;
  bottom: $layoutGap;
  left: $layoutGap;
  right: $layoutGap;
  background: var(--paper-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px 20px;
  color: var(--text-color);
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s, transform 0.25s;
  z-index: 50;
  border-radius: $radiusCorner;

  .wrapper {
    max-width: 300px;
    margin: auto;
  }

  &.open {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
    transition: visibility 0s, opacity 0.25s, transform 0.25s;
  }
}