@use "../../../www/styles/variables";

.welcomeDashboard {
  margin-bottom: variables.$layoutGap;
  background: var(--paper-color);
  border-radius: variables.$radiusCorner;
  padding: 12px 18px;
  transition: opacity 200ms;

  height: 280px;

  // Implement hide for Trend modal clean background
  &.hide {
    opacity: 0;
    transition: opacity 200ms;
  }
}