@import "../../../www/styles/variables";

.layoutSideListPanel {
  height: 100%;

  div.layout_two_columns {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;


    // On desktop
    @media screen and (min-width: $smallScreen) {
      display: flex;
      flex-direction: row;

      padding: $layoutGap $layoutGap;
      gap: 26px;
    }

    .sidePanel, .outlet {
      .scrollListenner {
        // Mobile only
        @media screen and (max-width: $smallScreen - 1px) {
          padding-bottom: calc(90px + env(safe-area-inset-bottom));
        }
      }
    }

    // On Mobile we enable toggle panels
    .sidePanel {

      .scrollListenner {
        background: var(--paper-color);
        border-radius: $radiusCorner;
      }
      overflow: hidden;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      // Desktop only, we display on side. Otherwise it goes full screen.
      @media screen and (min-width: $smallScreen) {
        flex: 320px;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }

    .outlet {
      flex: 100%;
      max-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $smallScreen) {
        background: var(--paper-color);
        border-radius: $radiusCorner;
      }

      header.primaryColor {
        display: flex;
        margin: $layoutGap/1.5 $layoutGap/1.5 $layoutGap $layoutGap/1.5;
        background: var(--primary-color);
        color: white;
        padding: 20px 30px 18px;
        border-radius: $radiusCorner/2;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: $layoutGap;
      }
    }
  }
}