@import "../../../www/styles/variables";

.layoutFullWidth {
  height: 100%;
  position: relative;

  // Desktop only
  @media screen and (min-width: $smallScreen) {
    background: var(--paper-color);
    margin: 0 20px 0 0;
    border-radius: $radiusCorner;
    overflow: hidden;
  }

  // Mobile only
  @media screen and (max-width: $smallScreen - 1px) {
    padding-bottom: calc(70px + env(safe-area-inset-bottom));
  }
}