@import "../../../www/styles/variables";

.layoutFullWidth {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  // Desktop only
  @media screen and (min-width: $smallScreen) {
    background: var(--paper-color);
    margin: $layoutGap;
    border-radius: $radiusCorner;
    overflow: hidden;
  }

  // Mobile only
  @media screen and (max-width: $smallScreen - 1px) {
    padding-bottom: calc(70px + env(safe-area-inset-bottom));
  }
}