@import "../../../www/styles/variables";

.layoutSideListPanel {
  height: 100%;
  // Mobile only
  @media screen and (max-width: $smallScreen - 1px) {
    padding-bottom: calc(70px + env(safe-area-inset-bottom));
  }

  .sidePanel {
    // Desktop only, we display on side. Otherwise it goes full screen.
    @media screen and (min-width: $smallScreen) {
      width: 300px;
      border-right: 1px solid var(--divider-color);
      flex-shrink: 0;
    }
  }

  .outlet {
    width: 100%;
  }
}