@import "../../../www/styles/variables";

.wrapper {
    background: var(--primary-color);
    border-radius: $radiusCorner $radiusCorner 0 0;
    overflow: hidden;
    transition: background $durationTitleHeaderContainer/2 $durationTitleHeaderContainer/4;

    display: flex;
    flex-direction: column;

    min-height: 62px;

    position: relative;

    padding-top: 6px;
    padding-right: calc(8px + env(safe-area-inset-right));
    padding-bottom: 0px;
    padding-left: calc(0px + env(safe-area-inset-left));

    .container_header_title {

      width: 100%;
      display: flex;
      padding-top: 2px;

      div.title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        color: white;
        font-size: 18px !important;
        text-transform: uppercase;
        width: 100%;
        margin: 0 20px 0 8px;
        font-weight: 700;
        position: relative;

        &.showTitle1 {

          div:first-child {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
            transition: visibility 0s, opacity $durationTitleHeaderContainer $durationTitleHeaderContainer/3, transform $durationTitleHeaderContainer $durationTitleHeaderContainer/3;
          }

          div:last-child {
            opacity: 0;
            visibility: hidden;
            transform: translateX(10px);
            transition: visibility 0s $durationTitleHeaderContainer, opacity $durationTitleHeaderContainer, transform $durationTitleHeaderContainer;
          }
        }

        &.showTitle2 {

          div:first-child {
            opacity: 0;
            visibility: hidden;
            transform: translateX(10px);
            transition: visibility 0s $durationTitleHeaderContainer, opacity $durationTitleHeaderContainer, transform $durationTitleHeaderContainer;
          }

          div:last-child {
            opacity: 1;
            visibility: visible;
            transform: translateX(0px);
            transition: visibility 0s, opacity $durationTitleHeaderContainer $durationTitleHeaderContainer/3, transform $durationTitleHeaderContainer $durationTitleHeaderContainer/3;
          }
        }

        div {
          position: absolute;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;

          span {
            padding-left: 20px;
          }

          &.hasBackButton {
            span {
              padding-left: 8px;
            }
          }
        }
      }

      div.menu {
        opacity: 0;
        transition: opacity 400ms;

        &.show {
          opacity: 1;
          transition: opacity 400ms;
        }
      }
    }

    #container_header_component {
      width: 100%;
      position: relative;
      overflow: hidden;
      transition: height 200ms;
    }
  }