@use "../../../www/styles/variables";

.scrollListenner {
  overflow: auto;
  height: 100%;

  @media screen and (max-width: variables.$smallScreen - 1px) {
    padding-bottom: calc(70px + env(safe-area-inset-bottom));
  }
}