@use "../../../www/styles/variables";

.snackbarManager {
  z-index: 500;
  //Desktop
  @media screen and (min-width: variables.$smallScreen) {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;

    &.withFab {
      right: 80;
    }
  }

  // Mobile
  @media screen and (max-width: variables.$smallScreen - 1px) {
    margin-bottom: calc(70px + env(safe-area-inset-bottom));
    margin-left: 10px;
    margin-right: 10px;
    &.withFab {
      margin-right: 70px;
    }
  }
}