@import "../../www/styles/variables";

.suggestions {

  position: absolute;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background: var(--paper-color);
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding: 0 20px;
  color: var(--text-color);
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: visibility 0s 0.250s, opacity 0.250s, transform 0.250s;
  z-index: 50;

  &.open {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
    transition: visibility 0s, opacity 0.250s, transform 0.250s;
  }
}

.report {
  overflow: auto;
  height: 100%;
}

.camembert {
  justify-content: space-between;
  padding-bottom: 40px;

  div.item {
    &:first-child {
      padding-top: 20px;
      height: 50vh;
      max-height: 80vw;
      margin-left: 20px;
      margin-right: 20px;
    }
    &:last-child {
      padding: 5px;
      overflow: auto;
      .card {
        height: calc(60vh - 40px);
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}
/* USED BY CHARTS */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* padding-bottom: 100%; aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}