@use "../../www/styles/variables";

.categoriesView {
  .searchBox {
    background: var(--paper-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;

    @media screen and (min-width: variables.$smallScreen) {
      margin-bottom: variables.$layoutGap;
      border-radius: variables.$radiusCorner;
    }

    @media screen and (max-width: variables.$smallScreen - 1px) {
      border-bottom: solid 1px var(--divider-color);
    }
  }
}

//  sx={{ display: 'flex', flexDirection: 'row', alignItems: 'center', paddingLeft: 1 }}