@import "../../www/styles/variables";

.dashboard {

  overflow: auto;

  .trendModal {

    position: absolute;

    top: 0; bottom: 0;
    left: 0; right: 0;

    background: var(--paper-color);
    width: 100%;
    overflow: auto;
    padding: 10px 20px;
    color: var(--text-color);
    visibility: hidden;
    transform: translateY(-10px);
    opacity: 0;
    transition: visibility 0s 0.250s, opacity 0.250s, transform 0.250s;
    z-index: 50;

    &.open {
      visibility: visible;
      transform: translateY(0px);
      opacity: 1;
      transition: visibility 0s, opacity 0.250s, transform 0.250s;
    }
  }


  div.board {
    overflow: auto;
    height: 100%;
    .header {
      z-index: 90;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      font-size: 1rem;
      h2 {
        padding: 0px 20px 0px 20px;
      }
      .metrics {
        .metric {
          display: flex;
          justify-content: stretch;
          flex-direction: column;
          position: relative;
          width: 280px;
          padding: 10px 20px;
          .title {
            margin: 10px 0 20px 0;
            font-weight: 300;
            font-size: 1.2rem;
          }
          .balance {
            position: absolute;
            top: 14px;
            right: 10px;
            font-size: 24px;
          }
          .incomes_expenses {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            padding-top: 8px;
            p {
              flex: 50%;
              margin: 0;
              line-height: 1rem;
              small { font-size: 0.6rem; opacity: 0.8; }
            }
          }
        }
      }
    }

  }

  .trends {
    font-size: 0.8rem;
  }
}