@import "../../www/styles/variables";

div.layout_dashboard {
  width: 100%;
  padding-bottom: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  transition: opacity 200ms;

  @media screen and (max-width: $smallScreen - 1px) {
    padding-top: 10px;
  }

  @media screen and (min-width: $mediumScreen) {
    display: grid;
    grid-gap: $layoutGap;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 116px 400px 300px;
    grid-template-areas:
      "balance1 balance2 trend1 trend2"
      "graph graph graph numbers"
      ". . calendar calendar"
      "messages . . .";
  }

  @media screen and (min-width: $smallScreen - 1px) and (max-width: $mediumScreen) {
    display: grid;
    grid-gap: $layoutGap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 116px 1fr 116px 1fr 116px;
    grid-template-areas:
      "balance1 balance2"
      "graph graph"
      "trend1 trend2"
      "calendar calendar"
      "numbers numbers"
      "messages .";
  }

  &.hide {
    opacity: 0;
    transition: opacity 200ms;
  }

  .paper {
    width: 100%;
    display: flex;
    align-items: center;

    align-self: stretch;
    justify-self: stretch;
    padding: 8px 16px;

    margin: 10px 0;
    // Desktop only
    @media screen and (min-width: $smallScreen) {
      background: var(--paper-color);
      // margin: $layoutGap;
      border-radius: $radiusCorner;
      // overflow: hidden;
      padding: 8px 16px;
      margin: 0;

      &.balance1 { grid-area: balance1; }
      &.balance2 { grid-area: balance2; }
      &.trend1 { grid-area: trend1; }
      &.trend2 { grid-area: trend2; }
      &.graph { grid-area: graph; }
      &.numbers { grid-area: numbers; }
      &.messages { grid-area: messages; }
      &.calendar { grid-area: calendar; }
    }
  }

  // LEGACY CSS to remove may be
  .columnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .column {
      width: 100%;
      max-width: 600px;
    }
  }
}