.dashboard {

  overflow: auto;

  .aside {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--primary-color);
    overflow: auto;
    z-index: 95;
    position: relative;
    &:before {
      z-index: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
      content: '';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }
  }
  div.board {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;

    .header {
      z-index: 90;
      padding: 30px 20px 20px 20px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      font-size: 1rem;
      h2 { margin: 0; }
      div { flex-grow: 1; }
      .metrics {
        display: flex;
        justify-content: stretch;
        flex-grow: 1;
        p {
          flex-grow: 1;
          small { font-size: 0.7rem; opacity: 0.8; }
          span { font-size: 1.2rem; }
        }
      }
    }

  }

  .trends {
    font-size: 0.8rem;
  }
}