@import "../../www/styles/variables";

.navigation_mobile_wrapper {
  position: absolute;
  padding-bottom: calc(8px + env(safe-area-inset-bottom));
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;

  @media screen and (max-width: $smallScreen - 1px) {
    background: linear-gradient(to bottom, transparent 0%, var(--paper-color) 100%);
  }

  // Div with content inside
  .navigation_mobile {

    background: var(--paper-color);
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    pointer-events: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));


    @media screen and (min-width: 450px) {
      position: absolute;
      left: calc(18px + env(safe-area-inset-left));
      bottom: calc(8px + env(safe-area-inset-bottom));
    }

    @media screen and (max-width: 450px) {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding-bottom: env(safe-area-inset-bottom);
    }
    @media screen and (max-width: 340px) {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }

    .navigation_mobile_stack {
      justify-content: space-around;
    }
  }

  .layout_fab_button {
    position: absolute;
    right: calc(12px + env(safe-area-inset-right));
    bottom: 80px;
    visibility: hidden;
    pointer-events: auto;
    opacity: 0;
    transition: all 400ms, visibility 0s 250ms;
    margin-right: -8px;

    @media screen and (min-width: $smallScreen) {
      bottom: calc(20px + env(safe-area-inset-bottom));
      right: calc(20px + env(safe-area-inset-right));
    }

    @media screen and (min-width: 450px) {
      bottom: calc(14px + env(safe-area-inset-bottom));
    }

    @media screen and (max-width: 450px) {
      bottom: calc(80px + env(safe-area-inset-bottom));
    }

    @media screen and (max-width: 340px) {
      bottom: calc(74px + env(safe-area-inset-bottom));
    }

    &.show {
      visibility: visible;
      opacity: 1;
      margin-right: 0px;
      transition: all 400ms, visibility 0s;
    }
  }
}