@import "../../www/styles/variables";

.report {
  header {
    padding: 12px 0px 12px 0px;
    display: flex;
    position: sticky;
    top: 0;
    min-height: 48px;
    background: var(--paper-color);
    justify-content: center;
    z-index: 100;
    flex-shrink: 0;
  border-bottom: solid 1px var(--divider-color);
  }
}
.suggestions {
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;

  background: var(--paper-color);
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  padding: 0 20px;
  color: var(--text-color);
  visibility: hidden;
  transform: translateY(-10px);
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s, transform 0.25s;
  z-index: 50;

  // maxWidth 630px;
  @media screen and (min-width: $smallScreen - 1px) {
    padding-left: calc((100% - 630px) / 2) !important;
    padding-right: calc((100% - 630px) / 2) !important;
  }

  &.open {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
    transition: visibility 0s, opacity 0.25s, transform 0.25s;
  }
}

.layout_header_date_range {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: sticky;
  top: 0;

  // maxWidth 630px;
  @media screen and (min-width: $smallScreen - 1px) {
    padding-left: calc((100% - 630px) / 2) !important;
    padding-right: calc((100% - 630px) / 2) !important;
  }
}

.layout_report {
  @media screen and (min-width: $smallScreen) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .column {
      width: 100%;
      max-width: 600px;
    }
  }

  .camembert {
    justify-content: space-between;
    padding-bottom: 40px;

    div.item {
      &:first-child {
        padding-top: 20px;
        height: 50vh;
        max-height: 80vw;
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  /* USED BY CHARTS */
  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* padding-bottom: 100%; aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .arc path {
    stroke: #fff;
  }
}

.layout_header_date_range .header_button {
  margin-top: 5px;
  margin-left: 5px;

}