
// TRANSACTION TABLE CSS
div.layout {

  header.layout_header {

    .indicators{

      @media screen and (min-width: 640px) {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
      }

      div.view {
        padding: 2px 0px 4px;
        display: flex;
        justify-content: flex-start;
        opacity: 0.8;
        font-size: 0.8rem;
      }
    }

    .filters {
      background: var(--paper-color);
      border-bottom: solid 1px var(--divider-color);

      display: flex;
      flex-shrink: 0;
      flex-grow: 0;
      flex-wrap: wrap;
      padding: 6px 0 0 8px;

      .filter {
        margin-right: 8px !important;
        margin-bottom: 6px !important;
      }
    }
  }

  .transactions, .categories {
    width: 100%;
  }

  .transactions {
    .buttonPreviousMonth {
      display: flex;
      justify-content: center;
      padding: 8px 10px 20px 10px;
      opacity: 0.6;
    }
  }

  .categories {
    .isFilter {
      opacity: 0.5;
    }
    .category_dot {
      &:before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: var(--primary-color);
        margin-right: 14px;
      }
    }
  }
}

.transactionsList {
  border-collapse: collapse;
  font-size: 0.9rem;
  line-height: 1rem;

  tr {
    transition: background .2s;
    &:first-child {
      td {
        padding-top: 20px !important;
      }
    }
    &:last-child {
      td {
        padding-bottom: 16px;
      }
    }
    .line {
      width: 24px;
      position: relative;
      &:after {
        content: '';
        border-left: solid 2px var(--primary-color);
        height: 100%;
        margin-left: 11px;
        position: absolute;
        top: 0; bottom: 0;
      }
      &.dot {
        position: relative;
        &:before {
          content: '';
          height: 100%;
          position: absolute;
          top: 50%; left: 50%;
          margin-top: -2px;
          margin-left: -2px;
          width: 6px;
          height: 6px;
          border-radius: 10px;
          background: var(--primary-color);
          transition: all .2s;
        }
      }
      &.donut {
        position: relative;
        &:before {
          content: '';
          height: 100%;
          position: absolute;
          top: 50%; left: 50%;
          margin-top: -5px;
          margin-left: -5px;
          width: 8px;
          height: 8px;
          border: solid 2px var(--primary-color);
          border-radius: 10px;
          background: white;
          z-index: 99;
        }
      }
    }
    &.transaction:hover {
      background: var(--cardheader-color);
      transition: background .2s;
      .line.dot:before {
        transition: all .2s;
        width: 8px;
        height: 8px;
        margin-top: -3px;
        margin-left: -3px;
      }
    }
  }
}