@import "../../www/styles/variables";

// TRANSACTION TABLE CSS
div.layout_transactions {
  height: 100%;

  .header {
    color: white;
    background: var(--primary-color); // rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding: 18px 10px;
    border-radius: $radiusCorner;
    margin-bottom: $layoutGap;
  }

  header.layout_header {

    color: white;

    .indicators {
      @media screen and (min-width: 640px) {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
      }

      div.view {
        padding: 2px 0px 4px;
        display: flex;
        justify-content: flex-start;
        opacity: 0.8;
        font-size: 0.8rem;
        color: white;
      }
    }
  }

  .transactions_aside {

    h2 {
      font-size: 30px;
    }
    .metrics {
      display: flex;
      justify-content: center;
      background: rgba(170, 170, 170, 0.1);
      padding-bottom: 10px;
      .incomes_expenses {
        p {
          margin-right: 10px;
        }
      }
    }
  }


  @media screen and (min-width: $smallScreen) {
    .layout_content .categories {
      display: none;
    }
  }

  @media screen and (max-width: $smallScreen - 1px) {
    &.show_transactions {
      .layout_content .categories {
        display: none;
      }
    }

    &.show_categories {
      .layout_content .transactions {
        display: none;
      }
    }
  }

  .transactions,
  .categoriesList {
    width: 100%;
  }

  .transactions {
    .buttonPreviousMonth {
      display: flex;
      justify-content: center;
      padding: 8px 10px 20px 10px;
      opacity: 0.6;
    }
  }
  .categories {
    h3 {
      margin: 0 0 12px;
      small {
        margin-left: 6px;
      }
    }
  }
  .categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    .chip {
      font-size: 0.8em;
      text-transform: capitalize;
      color: var(--text-color);
      padding: 5px 8px 3px;
      min-Width: auto;
      border: solid 1px var(--divider-color);
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 13px;
      position: relative;
      overflow: hidden;

      &.isSelected {
        border: solid 1px transparent;
        &:before {
          content: '';
          position: absolute;
          z-index: 0;
          top: 0; left: 0; right: 0; bottom: 0;
          background: var(--primary-color);
          opacity: 0.1;
        }
        * {
          z-index: 10;
        }
      }
    }

    .no_category {
      font-style: italic;
    }

    .category_dot {

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: var(--primary-color);
        margin-right: 14px;
      }
    }
  }

  .layout_content_filters {
    background: var(--paper-color);
    border-bottom: solid 1px var(--divider-color);
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 6px 0 0 8px;
    transform: rotate(0deg);

    .filter {
      margin-right: 8px !important;
      margin-bottom: 6px !important;
    }
  }
}

.transactions_view {
  padding: 8px 20px 15px;
  // background: rgba(170, 170, 170, 0.1);
  .metric {
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    margin: auto;

    position: relative;
    justify-content: center;
    flex-direction: column;

    .title {
      margin: 10px 0 20px 0;
      font-weight: 300;
      font-size: 1.2rem;
      text-align: left;
    }
    .balance {
      position: absolute;
      top: 14px;
      right: 10px;
      font-size: 24px;
    }
    .incomes_expenses {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      padding-top: 8px;
      p {
        flex: 50%;
        margin: 0;
        line-height: 1rem;
        &:first-child {
          padding-right: 8px;
        }
        small {
          font-size: 0.6rem;
          opacity: 0.8;
        }
      }
    }
  }
}