@import "../../www/styles/variables";

$duration: 350ms;
$durationDelay: 200ms;

// Welcoming is a modal to guide the user on first use or no account mode
.welcoming__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  max-height: 100%;

  @media screen and (min-width: 601px) {
    justify-content: center;
    align-items: center;
  }

  .welcoming__step {
    visibility: hidden;
    opacity: 0;

    background: var(--paper-color);
    border-radius: 4px;
    overflow: hidden;
    transition: visibility 0s $duration, opacity $duration, transform $duration;
    width: 100%;
    max-width: 540px;
    margin: 17px;
    position: absolute;

    @media screen and (max-width: 600px) {
      margin: 0px;
      max-width: 100vw;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    @media screen and (min-width: 601px) {
      &.forward {
        transform: scale(0.9);
      }
      &.backward {
        transform: scale(0.9);
      }
    }

    @media screen and (max-width: 600px) {
      &.forward {
        transform: translateY(10px);
      }
      &.backward {
        transform: translateY(10px);
      }
    }

    &.open {
      visibility: visible;
      opacity: 1;
      @media screen and (min-width: 601px) {
        transform: scale(1);
      }

      @media screen and (max-width: 600px) {
        transform: translateY(0px);
      }

      transition: visibility 0s $durationDelay, opacity $duration $durationDelay,
        transform $duration $durationDelay;
    }

    .welcoming__layout {
      display: flex;
      flex-direction: column;

      max-height: 80vh;

      @media screen and (max-width: 600px) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: none;
      }

      header {
        padding-top: env(safe-area-inset-top);
        background: var(--primary-color);
        color: white;
        flex-shrink: 0;
        flex-grow: 0;
        h2 {
          padding: 0;
          margin: 30px 17px 20px;
        }
      }
      div.content {
        padding: 12px 17px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        @media screen and (max-width: 600px) {
          flex-grow: 1;
        }
      }
      footer {
        display: flex;
        justify-content: flex-end;
        border-top: solid 1px var(--divider-color);
        padding: 12px 17px calc(12px + env(safe-area-inset-bottom)) 17px;
        flex-shrink: 0;
        flex-grow: 0;

        @media screen and (max-width: 600px) {
          flex-direction: row-reverse;
          justify-content: flex-start !important;
          flex-wrap: wrap;
          button {
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }

        &.spaceBetween {
          justify-content: space-between;
        }
        &.extended {
          padding: 0;
          button {
            margin: 12px 17px;
          }
        }
        button:last-child {
          margin-left: 10px;
        }
        div.welcoming__server {
          flex-grow: 1;
        }
      }
    }

    .welcoming__server {
      background: var(--background-color);
      padding: 4px 20px;
      border-radius: 0px;
      display: flex;
      align-items: center;
      cursor: pointer;

      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
      }
    }

    .serverButton {
      span.text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-right: 20px;
        text-align: left;
        text-transform: capitalize;
        position: relative;
        top: 2px;
        small {
          line-height: 1em;
        }
      }
    }
  }
}
