.changes_list{
  width: 100%;
  padding: 20px 0 60px 0;
  .changes_change{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px 8px 10px;
    font-size: 0.9rem;

    .changes_change_data{
      display: flex;
      width: 100%;
      line-height: 1.1rem;
      .date{
        width: 100px;
        font-size: 0.6rem;
        text-transform: uppercase;
        color: var(--primary-color);
        text-align: right;
        font-weight: bold;
        padding: 0 16px 0 0;
      }
      .description{
        width: 100%;
        .convertion {
          display: flex;
          font-size: 0.7rem;
          opacity: 0.8;
          width: 100%;
          div {
            padding: 0 20px 0 0;
          }
        }
      }
    }
    .changes_change_actions{
      width: 40px;
    }
  }
}