.changesLayout{

  // Phone
  @media screen and (max-width: 639px) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;
  }

  // Large sceen
  @media screen and (min-width: 640px) {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 12px 8px 5px 8px;

    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;

    overflow: hidden;

  }

  header{
    color: white;

    h1 {
      box-sizing: border-box;
      padding: 80px 0px 70px 50px;
      margin: 0;
      font-size: 4em;

      @media screen and (max-width: 399px) {
      padding: 50px 0px 70px 50px;
      }

      @media screen and (min-width: 400px) and (max-width: 639px) {
      padding: 50px 0px 70px 50px;
      }

    }
  }

  .column{
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 639px) {
      border-radius: 0px !important;
    }

    @media screen and (min-width: 640px) {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 640px) {
    }

    @media screen and (max-width: 999px) {
      margin-top: 0px;
      margin-bottom: 5px;
    }

  }

  .columnHeader{

    @media screen and (max-width: 639px) {

    }

    @media screen and (min-width: 640px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;
      overflow: hidden !important;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      article{
        width: 100%;
        overflow: auto;
        flex-basis: 100%;
        flex-grow: 1;
      }

    }

    .addButton{
      position: absolute;
      margin-top: -30px;
      right: 60px;
      display: none !important;
      @media screen and (min-width: 1000px) {
        display: block !important;
      }
    }


  }

}

.addButtonBottom{
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block !important;
  z-index: 999;
  @media screen and (min-width: 640px) {
    display: none !important;
  }
}