.dashboardLayout{

  // Phone
  @media screen and (max-width: 639px) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Large sceen
  @media screen and (min-width: 640px) {

    margin: 12px 8px 5px 8px;

    overflow: auto;
    position: relative;


    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;

  }

  header{
    color: white;
    position: relative;
    h1 {
      box-sizing: border-box;
      padding: 30px 0px 25px 30px;
      margin: 0;
      font-size: 2em;

      @media screen and (max-width: 399px) {
        padding: 30px 0px 25px 10px;
      }

      @media screen and (min-width: 400px) and (max-width: 639px) {
        padding: 30px 0px 25px 10px;
      }

    }

    .navigationButtons{
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  .graph, .stats{
    box-sizing: border-box;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 639px) {
      border-radius: 0px !important;
    }

    @media screen and (min-width: 640px) {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 1000px) {
      width: 70%;
    }

    @media screen and (max-width: 999px) {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    article{
      box-sizing: border-box;
      padding: 20px 10px;
    }

  }

  .columnHeader{

    @media screen and (max-width: 639px) {

    }

    @media screen and (min-width: 640px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;
      overflow: hidden !important;

      article{
        width: 100%;
        overflow: auto;
        flex-grow: 1;
      }

    }

    .addButton{
      position: absolute;
      margin-top: -30px;
      right: 60px;
      display: none !important;
      @media screen and (min-width: 1000px) {
        display: block !important;
      }
    }
  }


  .indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;

    .income, .outcome, .total {

      min-width: 100px;

      @media screen and (max-width: 639px) {
        padding: 20px 10px 10px 10px;
      }

      @media screen and (min-width: 640px) {
        padding: 36px 20px 25px 20px;
      }

      h6{
        font-size: 14px;
        margin: 0px;
        padding: 0px 0px 14px 0px;
      }
      p {
        font-weight: lighter;
        font-size: 26px;
        margin: 0px;
        padding: 0px;
      }
    }
  }

  .income p {
    color: #388E3C;
  }
  .outcome p {
    color: #D32F2F;
  }
  .total p {
    color: #1976D2
  }


}
