#loginLayout{
  .loginLayout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .card{
      padding: 0 10px;
      width: 100%;
      max-width: 340px;
      margin: auto;
    }
  }
  .aboutLayout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .card{
      width: 100%;
      max-width: 500px;
      margin-top: 50px;
      margin: auto;
    }
  }
  .serverLayout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .card{
      width: 100%;
      max-width: 500px;
      margin: auto;
    }
  }
  .forgotpasswordLayout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .card{
      width: 100%;
      max-width: 500px;
      margin-top: 200px;
      margin: auto;
    }
  }
  .createaccountLayout{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    .card{
      width: 100%;
      max-width: 500px;
      margin-top: 200px;
      margin: auto;
    }
  }
  .loginLayout,
  .aboutLayout,
  .serverLayout,
  .forgotpasswordLayout,
  .createaccountLayout{
  }
  // BUTTONS
  .loginLayout{
    .goBackLoginButton{
      visibility: hidden;
      opacity: 0;
      margin-left: 40px;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
  }
  .aboutLayout,
  .serverLayout,
  .forgotpasswordLayout,
  .createaccountLayout{
    .actionsLeft, .actionsRight{
      visibility: hidden;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
    .actionsLeft{
      margin-left: 0px;
    }
    .actionsRight{
      margin-right: 40px;
    }
  }
  .goBackLoginButton {
    position: absolute;
    top: 20px;
    left: 50px;
    opacity: 1;
    margin-left: 0px;
    visibility: visible;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .actionsLeft, .actionsRight{
    position: fixed;
    bottom: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  .actionsRight{
    right: 50px;
  }
  .actionsLeft{
    left: 10px;
    margin-left: 40px;
  }
}