
@import 'login';
@import 'colors';
@import 'dashboard';
@import 'transactions';
@import 'categories';
@import 'events';
@import 'changes';
@import 'settings';

:focus {outline:none;}
::-moz-focus-inner {border:0;}

html {
  body{
    background-color: #EEEEEE;
    font-size: 13px;
    line-height: 20px;
    margin: 0px !important;
    main{
      width: 100vw;
      height: 100vh;
      position: fixed;
      overflow: hidden;
      display: flex;

      @media screen and (max-width: 639px) {
        flex-direction: column;
      }
      @media screen and (min-width: 640px) {
        flex-direction: row;
      }

      &.notloggedin{
        aside{
          width: 100vw;
        }
      }
      &.loggedin{
        aside{
          // transition: all 0.3s ease-out;

          @media screen and (max-width: 639px) {
            width: 100vw;
            height: 60px;
          }
          @media screen and (min-width: 640px) {
            width: 60px;
            height: 100vh;
          }

        }
      }
      aside{
        height: 100vh;

        @media screen and (min-width: 640px) {
          -webkit-transition: background-color 300ms ease-in-out;
          -ms-transition: background-color 300ms ease-in-out;
          transition: background-color 300ms ease-in-out;
        }

        #hamburger_menu{
          cursor: pointer;
          @media screen and (min-width: 640px) {
            display: none;
          }
        }
        nav{
          @media screen and (max-width: 639px) {
            display: none;
          }
        }
      }
      #container{
        flex: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        #toolbar{
          border-bottom: solid 1px rgb(180, 180, 180);

          @media screen and (max-width: 639px) {
            display: none !important;
          }
        }
        #content {
          flex: 100%;
          overflow: auto !important;
          -webkit-overflow-scrolling: touch;
        }
      }
    }
  }
}

a{
  text-decoration: none;
}




.poweredby{
  text-align: right;
  // margin-top: 40px;
  margin-right: 10px;
  img{
    display: inline;
    position: relative;
    top: 2px;
    height: 28px;
    opacity: 0.4;
    vertical-align: bottom;
    margin: 0px 5px 0 5px;
    &:hover{
      opacity: 1;
    }
    transition: opacity 0.5s ease-out;
  }
}