@import 'login';

html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body{
  background-color: #EEEEEE;
  font-size: 13px;
  line-height: 20px;
  margin: 0px !important;
  height: 100%;
  #app {
      height: 100%;
  }
  nav{
    width: 200px;
    float: left;
    padding: 90px 0px 10px 20px;
  }
  main{
    margin-left: 230px;
    padding: 5px 20px 60px 40px;
    h1 {
      padding: 15px 0px 10px 10px;
      text-align: left;
      color: #333;
    }
  }
  .flexboxContainer{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    .flexbox {
      margin: auto;
    }
  }
  .list_detail_container{
    position: relative;
  }
  .list_layout{
    width: 380px;
    float: left;
  }
  .list_detail{
    padding: 2px 40px;
    float: left;
    position: absolute;
    left: 380px;
    right: 0px;
  }
  .clearfix{
    clear: both;
  }
}

a{
  color: black;
  text-decoration: none;
}
