@import 'login';
@import 'menu';

html{
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body{
  background-color: #EEEEEE;
  font-size: 13px;
  line-height: 20px;
  margin: 0px !important;
  height: 100%;

  // This is the main container for our app.
  #app{
    height: 100%;
    box-sizing: border-box;

    @media screen and (min-width: 640px) {
      overflow: hidden;
    }

    #mainContainer {

      height: 100%;
      // Flex
      display: flex;
      @media screen and (max-width: 639px) {
        flex-direction: column;
      }
      @media screen and (min-width: 640px) {
        flex-direction: row;
      }
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;

      #menu{
        order: 1;
        border-right: solid 1px rgb(224, 224, 224);

        -webkit-transition: background-color 400ms linear;
        -ms-transition: background-color 400ms linear;
        transition: background-color 400ms linear;

        @media screen and (max-width: 639px) {
          width: 100%;
          height: 60px;
        }
        @media screen and (min-width: 640px) {
          width: 60px;
          padding: 30px 0px 0px 0px;
        }
      }

      #main{
        order: 2;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;

        #toolbar{
          order: 1;
        }

        #content{
          order: 2;
          position: relative;
          overflow: auto;
          h1 {
            padding: 15px 0px 10px 10px;
            text-align: left;
            color: #333;
          }

        }
      }
    }
  }


  /// OLD CSS WHICH SHOULD BE REMOVE NORMALLY ONE DAY AFTER REFACTORING.
  /// OR MOVED BEFORE THIS LINE

  .flexboxContainer{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    .flexbox {
      margin: auto;
    }
  }
  .list_detail_container{
    position: relative;
  }
  .list_layout{
    width: 380px;
    float: left;
  }
  .list_detail{
    padding: 2px 40px;
    float: left;
    position: absolute;
    left: 380px;
    right: 0px;
  }
  .clearfix{
    clear: both;
  }
}

a{
  text-decoration: none;
}

.poweredby{
  text-align: right;
  // margin-top: 40px;
  margin-right: 10px;
  img{
    display: inline;
    position: relative;
    top: 2px;
    height: 28px;
    opacity: 0.4;
    vertical-align: bottom;
    margin: 0px 5px 0 5px;
    &:hover{
      opacity: 1;
    }
    transition: opacity 0.5s ease-out;
  }
}