.settingsLayout{

  // Phone
  @media screen and (max-width: 639px) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

  }

  // Large sceen
  @media screen and (min-width: 640px) {


    margin: 12px 8px 5px 8px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;

    overflow: hidden;

  }


  .header {

    @media screen and (min-width: 640px) {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
    }

    header{
      color: white;

      h1 {
        box-sizing: border-box;
        padding: 80px 0px 70px 50px;
        margin: 0;
        font-size: 4em;

        @media screen and (max-width: 399px) {
        padding: 50px 0px 70px 50px;
        }

        @media screen and (min-width: 400px) and (max-width: 639px) {
        padding: 50px 0px 70px 50px;
        }

      }
    }
  }

  .cards{

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;

    overflow: auto;
    flex-wrap: wrap;

    margin-bottom: 5px;


    .column{
      flex-grow: 0;
      flex-shrink: 0;
      padding: 8px;
      box-sizing: border-box;
      -webkit-overflow-scrolling: touch;

      @media screen and (max-width: 639px) {
        border-radius: 0px !important;
        flex-basis: 100%;
      }

      @media screen and (min-width: 640px) and (max-width: 899px) {
        border-radius: 0px !important;
        flex-basis: 100%;
      }

      @media screen and (min-width: 900px) and (max-width: 1299px) {
        flex-basis: 50%;
      }

      @media screen and (min-width: 1300px) {
        margin-top: 0px;
        margin-bottom: 5px;
        flex-basis: 33.333%;
      }

    }
  }



  .columnHeader{

    @media screen and (max-width: 639px) {

    }

    @media screen and (min-width: 640px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;
      overflow: hidden !important;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      article{
        width: 100%;
        overflow: auto;
        flex-basis: 100%;
        flex-grow: 1;
      }

    }
  }
}
