.layout40-60{
  // Phone
  @media screen and (max-width: 639px) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .tabs{
      visibility: visible;
    }
  }

  // Small screen
  @media screen and (min-width: 640px) and (max-width: 999px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 8px;
    .tabs{
      visibility: visible;
    }
  }


  @media screen and (max-width: 999px) {
    &.overview {
      #month_overview {
        display: block !important;
      }
      #month_transactions {
        display: none !important;
      }
    }
    &.transactions {
      #month_overview {
        display: none !important;
      }
      #month_transactions {
        display: block !important;
      }
    }
  }

  // Large sceen
  @media screen and (min-width: 1000px) {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 12px 8px 5px 8px;

    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;

    overflow: hidden;

    .tabs{
      visibility: hidden;
    }
  }

  header{
    color: white;

    &.line{
      height: 4px;
    }

    &.small{
      padding: 30px 0px 25px 25px;

      p {
        margin: 0;
        font-size: 16px;
      }
      @media screen and (max-width: 999px) {
        display: none;
      }
    }

    h1 {
      box-sizing: border-box;
      padding: 100px 0px 30px 50px;
      margin: 0;
      font-size: 4em;


      @media screen and (max-width: 399px) {
        padding: 35px 40px 30px 40px;
        text-align: center;
        font-size: 2em !important;
      }

      @media screen and (min-width: 400px) and (max-width: 639px) {
        padding: 35px 40px 30px 40px;
        text-align: center;
        font-size: 3em !important;
      }

      @media screen and (min-width: 1000px) and (max-width: 1299px) {
        padding: 100px 15px 30px 40px;
        font-size: 3em !important;
      }
    }
  }

  .navigationButtons {
    position: absolute;

    @media screen and (max-width: 639px) {
      top: 20px;
      left: 5px;
      right: 5px;
      .previous{

      }
      .calendar{
        display: none !important;
        cursor: pointer !important;
      }
      .next{
        position: absolute !important;
        right: 0px !important;
      }
    }
    @media screen and (min-width: 640px) {
      top: 10px;
      right: 10px;
    }

  }

  .columnHeader{

    @media screen and (max-width: 639px) {

    }
    @media screen and (min-width: 640px) {
    }

    @media screen and (max-width: 999px) {
      height: 100%;
      margin-top: 0px;
    }

    @media screen and (min-width: 1000px) {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;
      overflow: hidden !important;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .addButton{
      position: absolute;
      margin-top: 20px;
      right: 60px;
      display: none !important;
      @media screen and (min-width: 1000px) {
        display: block !important;
      }
    }

    header {
      order: 1;
    }

    article{
      width: 100%;
      @media screen and (min-width: 1000px) {
        order: 2;
        flex-basis: auto;
        overflow: auto;
      }
    }
  }

  .column{

    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 639px) {
      border-radius: 0px !important;
    }

    @media screen and (min-width: 640px) {
      margin-left: 8px;
      margin-right: 8px;
    }

    @media screen and (max-width: 999px) {
      margin-top: 0px;
    }

    @media screen and (min-width: 1000px) {
      display: flex;
      width: 60%;
      margin-bottom: 5px;

      article{
        overflow: auto;
        flex-basis: 100%;
        flex-grow: 1;
      }
    }
  }

  .column:first-child{
    @media screen and (min-width: 1000px) {
      width: 40%;
    }
  }

  .indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;

    .income, .outcome, .total {

      min-width: 100px;

      @media screen and (max-width: 639px) {
        padding: 10px 10px 10px 10px;
      }

      @media screen and (min-width: 640px) {
        padding: 25px 20px 25px 20px;
      }

      h6{
        font-size: 14px;
        margin: 0px;
        padding: 0px 0px 14px 0px;
      }
      p {
        font-weight: lighter;
        font-size: 26px;
        margin: 0px;
        padding: 0px;
      }
    }
  }

  .income p {
    color: #388E3C;
  }
  .outcome p {
    color: #D32F2F;
  }
  .total p {
    color: #1976D2
  }


}

.transactionList {
  .transactionHeader {
    color: #AAA;
  }

  .transaction {
    &:hover {
      background: #EEE;
    }
  }

  .transaction, .transactionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px 7px 20px;
    border-bottom: 1px solid rgb(224, 224, 224);


    .data {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: space-between;

      .top {
        flex: 60%;
        display: flex;
        justify-content: space-between;

        .date {
          width: 70px;
        }
        .name {
          text-align: left;
          flex-grow: 1;
          min-width: 180px;
          padding-right: 20px;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        flex: 40%;
        .category {
          padding-right: 20px;
          width: 100px;
        }
        .amount {
          width: 130px;
          text-align: right;
        }
      }
    }
    .actions {
      width: 40px;

      button {
        height: 30px !important;
        padding: 0px 0px 0px 12px !important;
      }
    }
  }
}

.addButtonBottom{
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block !important;
  z-index: 999;
  @media screen and (min-width: 1000px) {
    display: none !important;
  }
}

.fieldWithButton{
  display: flex;
  flex-direction: row;
  button{
    width: 200px;
    margin-top: 25px !important;
  }
}