.layout40-60{

  // Phone
  @media screen and (max-width: 639px) {
    box-sizing: border-box;
    position: relative;
    overflow: auto;

    .tabs{
      visibility: visible;
    }
  }

  // Small screen
  @media screen and (min-width: 640px) and (max-width: 999px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // flex-direction: column;
    overflow: auto;
    padding-top: 8px;
    .tabs{
      visibility: visible;
    }
  }


  @media screen and (max-width: 999px) {
    &.overview {
      #month_overview {
        display: block !important;
      }
      #month_transactions {
        display: none !important;
      }
    }
    &.transactions {
      #month_overview {
        display: none !important;
      }
      #month_transactions {
        display: block !important;
      }
    }
  }

  // Large sceen
  @media screen and (min-width: 1000px) {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 12px 8px 5px 8px;

    flex-direction: row;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;

    overflow: hidden;

    .tabs{
      visibility: hidden;
    }
  }

  header{
    color: white;

    &.line{
      height: 4px;
    }

    &.small{
      padding: 30px 0px 25px 25px;

      p {
        margin: 0;
        font-size: 16px;
      }
      @media screen and (max-width: 999px) {
        display: none;
      }
    }

    h1 {
      box-sizing: border-box;
      padding: 100px 0px 40px 50px;
      margin: 0;
      font-size: 4em;


      @media screen and (max-width: 399px) {
        padding: 35px 40px 30px 40px;
        text-align: center;
        font-size: 2em !important;
      }

      @media screen and (min-width: 400px) and (max-width: 639px) {
        padding: 35px 40px 40px 40px;
        text-align: center;
        font-size: 3em !important;
      }

      @media screen and (min-width: 1000px) and (max-width: 1299px) {
        padding: 100px 15px 40px 40px;
        font-size: 3em !important;
      }
    }

    .filter{

    }
  }

  .navigationButtons {
    position: absolute;

    @media screen and (max-width: 639px) {
      top: 20px;
      left: 5px;
      right: 5px;
      .previous{

      }
      .calendar{
        display: none !important;
      }
      .next{
        position: absolute !important;
        right: 0px !important;
      }
    }
    @media screen and (min-width: 640px) {
      top: 10px;
      right: 10px;
    }

  }

  .columnHeader{

    @media screen and (max-width: 639px) {

    }
    @media screen and (min-width: 640px) {
    }

    @media screen and (max-width: 999px) {
      height: 100%;
      margin-top: 0px;
    }

    @media screen and (min-width: 1000px) {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      box-sizing: border-box;
      overflow: hidden !important;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .addButton{
      position: absolute;
      margin-top: 20px;
      right: 60px;
      display: none !important;
      @media screen and (min-width: 1000px) {
        display: block !important;
      }
    }

    header {
      order: 1;
    }

    article{
      width: 100%;
      @media screen and (min-width: 1000px) {
        order: 2;
        flex-basis: auto;
        overflow: auto;
      }
    }
  }

  .column{

    position: relative;
    overflow: hidden;

    @media screen and (max-width: 639px) {
      border-radius: 0px !important;
    }

    @media screen and (min-width: 640px) {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 5px;
    }

    @media screen and (max-width: 999px) {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    @media screen and (min-width: 1000px) {
      display: flex;
      width: 60%;

      article{
        overflow: auto;
        flex-basis: 100%;
        flex-grow: 1;
      }
    }
  }

  .column:first-child{
    @media screen and (min-width: 1000px) {
      width: 40%;
    }
  }
}

.addButtonBottom{
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block !important;
  z-index: 999;
  @media screen and (min-width: 1000px) {
    display: none !important;
  }
}