
$colorPositive: rgb(76, 175, 80);
$colorNegative: rgb(244, 67, 54);
$colorBalance: #4390F4;

span.amount {
  &.balance { color: $colorBalance;}
  &.negative { color: $colorNegative;}
  &.positive { color: $colorPositive;}
  span span {
    opacity: 0.8;
    font-size: 0.9em;
  }
}