span.amount {
  font-variant-numeric: tabular-nums;
  .balance {
    color: var(--number-blue-color) !important;
  }
  .negative {
    color: var(--number-red-color) !important;
  }
  .positive {
    color: var(--number-green-color) !important;
  }
  span span {
    opacity: 0.8;
    font-size: 0.9em;
  }
  span.sign {
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.8em;
    position: relative;
    bottom: 0.05em;
    &.after {
      bottom: 0.15em;
      font-size: 0.75em;
    }
  }
  &.isBlurred {
    font-weight: bold;
    opacity: 0.2;
  }
}
