span.amount {
  .balance {
    color: var(--number-blue-color) !important;
  }
  .negative {
    color: var(--number-red-color) !important;
  }
  .positive {
    color: var(--number-green-color) !important;
  }
  span span {
    opacity: 0.8;
    font-size: 0.9em;
  }
}
