
// DEPRECATED, should now update _layout.scss to have more generic code

#content {

  overflow: hidden !important;
  display: flex;
  flex-direction: column;

  .maxWidth {
    max-width: 1200px;
    margin: auto;
  }
  h2 {
    font-size: 2.3em;
  }
  .dashboard {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  // Used in transactions to have a responsive two column layout
  .twoColumnContent,
  .sideListContent {
    width: 100%;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    @media screen and (max-width: 919px) {
      flex-direction: column;
      .column.hideOnMobile {
        display: none !important;
      }
    }
    @media screen and (min-width: 920px) {
      display: flex;
      height: 100%; // Full height to scroll in column
      flex-direction: row;
      overflow: hidden;
      position: absolute;
    }

    .column:first-child {
      display: flex;
      flex-shrink: 0;
      align-items: stretch;

      .card {
        width: 100%;
        @media screen and (min-width: 920px) {
          height: 100%;
        }
        position: relative;
        .cardContainer {
          height: 100%;
          display: flex;
          flex-direction: column;
          @media screen and (min-width: 920px) {
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
          header {
            position: relative;
            padding-top: 10px;
            background: var(--primary-color);
            h2 {
              font-weight: 500;
            }
            aside {
              position: absolute;
              top: 8px;
              right: 10px;
            }
          }
          article {
            @include smooth-scroll();
            font-size: 1.4em;
            small {
              text-transform: uppercase;
              font-size: 0.6em;
              font-weight: 300;
            }
          }
        }
      }
    }
    .column:last-child {
      @include smooth-scroll();

      @media screen and (max-width: $smallScreen - 1px) {
        padding: 18px 15px 5px 15px;
      }
      @media screen and (min-width: $smallScreen) and (max-width: 1113px) {
        padding: 15px 15px 5px 15px;
        flex: 70%;
      }
      @media screen and (min-width: 1114px) {
        padding: 30px 40px 5px 40px;
        flex: 70%;
      }

      @media screen and (min-width: 920px) {
        .return {
          display: none;
        }
        display: flex;
        flex-direction: column;
      }

      .grid {
        flex: 100%;
        display: flex;
        flex-wrap: wrap;
        .small {
          @media screen and (max-width: 919px) {
            width: 100%;
          }
          @media screen and (min-width: 920px) {
            min-width: 330px;
            max-width: 400px;
          }
          padding: 10px;
        }
        .large {
          padding: 10px 30px;
          @media screen and (max-width: 919px) {
            width: 100%;
          }
          @media screen and (min-width: 920px) {
            flex-grow: 1;
            min-width: 310px;
          }
        }
      }

      .fullHeight {
        @media screen and (max-width: $smallScreen - 1px) {
          padding: 18px 10px 5px 10px;
        }
        @media screen and (min-width: $smallScreen) and (max-width: 1113px) {
          padding: 10px 10px 10px 10px;
        }
        @media screen and (min-width: 1114px) {
          padding: 25px 10px 25px 10px;
        }
        display: flex;
        flex: 100%;
        flex-grow: 1;
        overflow: hidden;
        .card {
          flex: 100%;
          @media screen and (min-width: 920px) {
            @include smooth-scroll();
          }
        }
      }


    }
  }
  // Dashboard layout
  .twoColumnContent {
    .column:first-child {
      flex-grow: 1;
      @media screen and (min-width: 640px) {
        min-width: 360px;
        flex: 30%;
      }
      header {
        flex-direction: column;
        align-items: flex-start;
        h2 {
          font-size: 2.6em;
          @media screen and (max-width: $smallScreen - 1px) {
            padding: 40px 20px 0px 40px;
            font-size: 2em;
          }
          @media screen and (min-width: $smallScreen) and (max-width: 919px) {
            padding: 40px 20px 0px 40px;
          }
          @media screen and (min-width: 920px) {
            padding: 60px 20px 30px 40px;
          }

          @media screen and (min-width: 1450px) {
            font-size: 3.2em;
          }
        }
        .tabs {
          @media screen and (max-width: 919px) {
            display: block;
            width: 100%;
          }
          @media screen and (min-width: 920px) {
            display: none;
          }
        }
      }
    }
    .hideOnMobile {
      @media screen and (max-width: 919px) {
        display: none;
      }
    }
  }
  .sideListContent {
    .column:first-child {
      flex: 300px;
      flex-shrink: 0;
      min-width: 300px;
      header {
        h2 {
          padding: 26px 10px 20px 35px;
          font-size: 2.8em;
        }
      }
    }
  }
  // CSS on change
  .columnContent {
    width: 100%;
    height: 100%; // Full height to scroll in column
    display: flex;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    overflow: hidden;

    .column {
      flex: 100%;
      flex-direction: column;
      @include smooth-scroll();

      @media screen and (max-width: $smallScreen - 1px) {
        padding: 15px 5px;
      }
      @media screen and (min-width: $smallScreen) and (max-width: 1113px) {
        padding: 15px 15px;
      }
      @media screen and (min-width: 1114px) {
        padding: 30px 40px;
      }
      header {
        padding-top: 10px;
        margin-bottom: 20px;
        background: var(--primary-color);

        @media screen and (max-width: $smallScreen - 1px) {
        }
        @media screen and (min-width: $smallScreen) and (max-width: 1113px) {
          padding-right: 6px;
          padding-left: 6px;
        }

        h2 {
          padding: 30px 20px 30px 40px;
          font-size: 3.2em;
        }
      }
    }
  }
}