// Generic layout for transactions, categories, changes, settings, ...
.modalContent .layout.mobile {
  padding-top: 0 !important;
}


.layout {
  background: var(--primary-color);

  .layout_content {
    background: var(--paper-color);
  }
}

div.layout, form.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .wrapperMobile {
    // maxWidth 630px;
    @media screen and (min-width: 630px) and (max-width: $smallScreen - 1px) {
      padding-left: calc((100% - 630px) / 2) !important;
      padding-right: calc((100% - 630px) / 2) !important;
    }
  }

  .mobile_footer_padding {
    @media screen and (max-width: $smallScreen - 1px) {
      padding-bottom: calc(80px + env(safe-area-inset-bottom));
    }
  }

  &.mobile {
    padding-top: env(safe-area-inset-top);

    & > main > div.layout_content {
      padding-top: 18px;
      padding-bottom: 40px;
    }
  }

  // Header, navigation top bar
  header.layout_header {
    width: 100%;
    z-index: 100;
    color: white;
    background: var(--primary-color);

    div.layout_header_top_bar {
      padding: 8px 10px 8px 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 58px;
      position: relative;

      h2 {
        margin: 0;
        color: white;
        font-size: 18px !important;
        text-transform: uppercase;
        width: 100%;
        padding: 0 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .layout_header_top_bar_title {
        position: absolute;
        left: 10px;
        right: 0;

        display: flex;
        align-items: center;

        visibility: hidden;
        opacity: 0;
        transform: translateX(10px);
        transition: visibility 0s 0.4s, opacity 0.4s, transform 0.4s;
        padding: 0;

        &.show {
          opacity: 1;
          visibility: visible;
          transform: translateX(0px);
          transition: visibility 0s, opacity 0.4s 0.1s, transform 0.4s 0.1s;
        }
      }
    }

    .layout_header_date_range {
      background: var(--paper-color);
      border-bottom: solid 1px var(--divider-color);
      display: flex;
      align-items: center;
      padding: 0 10px;

      // maxWidth 630px;
      @media screen and (min-width: $smallScreen - 1px) {
        padding-left: calc((100% - 630px) / 2) !important;
        padding-right: calc((100% - 630px) / 2) !important;
      }
    }
  }

  div.layout_two_columns {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    background: var(--paper-color);

    @media screen and (max-width: $smallScreen - 1) {
      & > div.layout_noscroll:first-child.hide {
        display: none;
      }
      & > div.layout_content:first-child.hide {
        display: none;
      }
    }

    @media screen and (min-width: $smallScreen) {
      display: flex;
      flex-direction: row;

      & > div.layout_noscroll:first-child,
      & > div.layout_content:first-child {
        max-width: 300px;
        &.large {
          max-width: 350px;
        }
        @media screen and (min-width: $mediumScreen) {
          max-width: 350px;
        }
        background: var(--paper-color);
        border-right: solid 1px var(--divider-color);
      }
      & > div.layout_noscroll:first-child + div,
      & > div.layout_content:first-child + div {
        width: 100%;
        border-right: solid 1px var(--divider-color);
      }
    }
  }

  div.layout_noscroll {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .layout_content_search {
      background: var(--paper-color);
      border-bottom: solid 1px var(--divider-color);
      display: flex;
      align-items: center;
      padding: 0 10px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      min-height: 49px;
    }

    .layout_content_tabs {
      background: var(--primary-color);
      padding: 0 10px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      color: white;
    }
  }

  .layout_content,
  .layout_two_columns {
    @media screen and (max-width: $smallScreen - 1px) {
      border-radius: $radiusCorner $radiusCorner 0 0;
      overflow: hidden;
    }
  }

  .layout_header, .layout_header .layout_header_top_bar {
    @media screen and (max-width: $smallScreen - 1px) {
      border-radius: $radiusCorner $radiusCorner 0 0;
    }
  }

  .layout_header + .layout_noscroll .layout_content {
    @media screen and (max-width: $smallScreen - 1px) {
      border-radius: inherit !important; overflow: auto;
    }
  }

  // Content, with scroll
  .layout_content {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;


    .stickyHeader {
      display: flex;
      position: sticky;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 14px;
      top: 0;
      z-index: 99;

      @media screen and (max-width: $smallScreen - 1) {
        background: linear-gradient(
          var(--background-color) 0%,
          var(--background-color) 90%,
          var(--background-transparent) 100%
        );
      }

      @media screen and (min-width: $smallScreen) {
        background: linear-gradient(
          var(--paper-color) 0%,
          var(--paper-color) 90%,
          var(--paper-transparent) 100%
        );
      }
    }
  }

  // FAB button
  .layout_fab_button {
    position: absolute !important;
    bottom: 10px;
    right: 10px;

    // Default is hidden. Use .show to animate
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.25s, transform 0.25s, visibility 0s 0.25s;

    @media screen and (max-width: $smallScreen - 1) {
      bottom: calc(78px + env(safe-area-inset-bottom));
    }

    &.show {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.25s, transform 0.25s, visibility 0s;
    }
  }

  footer.layout_footer {
    display: flex;
    width: 100%;
    padding: 12px 12px 12px 12px;
    border-top: solid 1px var(--divider-color);
    flex-shrink: 0;
    background: var(--paper-color);
    padding-bottom: calc(env(safe-area-inset-bottom) + 12px);
  }
}