#loginLayout {
  display: flex;
  flex-direction: column;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    background: var(--background-color);
  }

  @include smooth-scroll();

  /* iOS 11.2+ */
  padding-top: env(safe-area-inset-top);

  @media screen and (max-width: $smallScreen - 1px) {
    flex: 100%;
  }

  @media screen and (min-width: $smallScreen) {
    flex: 100%;
    width: 80vw;
    max-width: 500px;
    height: 80vh;
    max-height: 800px;
    margin: auto;
    padding: 5px;
  }

  div.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;

    @media screen and (max-width: $smallScreen - 1px) {
      padding: 10px 20px 5px 20px;

      /* iOS 11.2+ */
      padding-bottom: env(safe-area-inset-bottom);
    }
    @media screen and (min-width: $smallScreen) {
      padding: 20px 20px 5px 20px;
      width: 100%;
    }
  }

  @keyframes open {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes close {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  footer {
    // hidden.
    font-size: 16px;
    line-height: 1.3em;
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    height: 0;

    visibility: hidden;
    opacity: 0;
    transition: padding 0.25s, opacity 0.1s, height 0.2s ease-out 0.05s,
      visibility 0s 0.25s;
    padding: 0px;
  }

  &.hideFooter {
    .cardContentAnimation {
      animation-name: close;
      animation-duration: 0.3s;
    }
  }

  &.showFooter {
    .cardContentAnimation {
      animation-name: open;
      animation-duration: 0.3s;
    }

    footer {
      transition: padding 0.25s, opacity 0.1s 0.25s, height 0.2s ease-in,
        visibility 0s;
      height: 70px;
      height: calc(70px + env(safe-area-inset-bottom));
      visibility: visible;
      opacity: 1;
      padding: 5px;

      /* iOS 11.2+ */
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}