swiper-container {
  width: 100%;

  swiper-slide{
    width: 280px;
    text-align: center;
    font-size: 18px;
    display: flex;
    background: none;

    @media screen and (max-width: $smallScreen - 1px) {

      width: 70vw;
    }
  }
}

.balanceCard {
  width: 100%;
  position: relative;
  padding: 5px 0px 5px;

  @media screen and (max-width: $smallScreen - 1px) {
    margin: 8px 18px;
  }

  .title {
    margin: 0px 0 20px 0px;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: left;
  }
  .balance {
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 24px;
  }
  .incomes_expenses {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding-top: 8px;
    p {
      flex: 50%;
      margin: 0;
      line-height: 1rem;
      &:first-child {
        padding-right: 8px;
      }
      small {
        font-size: 0.6rem;
        opacity: 0.8;
      }
    }
  }
}