// DASHBOARD CSS
.modalContent {
  z-index: 999;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  visibility: hidden;
  transition: visibility 0s 0.4s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s 0.2s;
  }

  .modalContentCard {
    z-index: 200;
    width: 100%;

    // Animation
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;

    @media screen and (max-width: $modalFullScreen - 1px) {
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(20px);
    }

    @media screen and (min-width: $modalFullScreen) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 400px;
      transform: translateX(20px);
    }

    form.content {
      display: flex;
      flex-direction: column;
      height: 100%;
      header {
        background: var(--primary-color);
        padding: 30px 10px 20px 10px;
        h2 {
          margin: 0;
          color: white;
          font-size: 30px !important;
          width: 100%;
          padding: 0 20px;
        }
        border-bottom: solid 1px var(--divider-color);
      }

      div.form {
        padding: 2px 24px 20px 24px;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }

      footer {
        display: flex;
        justify-content: flex-end;
        padding: 12px 12px 12px 12px;
        border-top: solid 1px var(--divider-color);
        flex-shrink: 0;
      }
    }
  }

  &.open {
    visibility: visible;
    transition: visibility 0s;
    &:before {
      opacity: 0.2;
      transition: opacity 0.3s;
    }
    .modalContentCard {
      opacity: 1;

      @media screen and (max-width: $modalFullScreen - 1px) {
        transform: translateY(0px);
      }
      @media screen and (min-width: $modalFullScreen) {
        transform: translateX(0px);
      }

      transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
    }
  }
}
