

.showDesktop {
  @media screen and (max-width: $mediumScreen - 1px) {
    display: none !important;
  }
}

.hideDesktop {
  @media screen and (min-width: $mediumScreen - 1px) {
    display: none !important;
  }
}

.showMobile {
  @media screen and (min-width: $smallScreen) {
    display: none !important;
  }
}

.hideMobile {
  @media screen and (max-width: $smallScreen - 1px) {
    display: none !important;
  }
}

.showModalSize {
  @media screen and (max-width: $modalFullScreen - 1px) {
    display: none !important;
  }
}

.hideModalSize {
  @media screen and (min-width: $modalFullScreen) {
    display: none !important;
  }
}