@use "variables";

.showDesktop {
  @media screen and (max-width: variables.$mediumScreen - 1px) {
    display: none !important;
  }
}

.hideDesktop {
  @media screen and (min-width: variables.$mediumScreen - 1px) {
    display: none !important;
  }
}

.showTablet {
  @media screen and (max-width: variables.$smallScreen) {
    display: none !important;
  }
}

.showMobile {
  @media screen and (min-width: variables.$smallScreen) {
    display: none !important;
  }
}

.hideMobile {
  @media screen and (max-width: variables.$smallScreen - 1px) {
    display: none !important;
  }
}

.showModalSize {
  @media screen and (max-width: variables.$modalFullScreen - 1px) {
    display: none !important;
  }
}

.hideModalSize {
  @media screen and (min-width: variables.$modalFullScreen) {
    display: none !important;
  }
}