
// Import Swiper styles
@import 'swiper/scss';
@import 'swiper/scss/navigation';

.swiper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}



.swiper-pagination {
  display: flex;
  gap: 6px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  z-index: 99;

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    background: var(--divider-color);
  }

  .swiper-pagination-bullet-active {
    background: var(--primary-color);
  }
}


.mobileSwiperStyle {
  position: relative;
  padding-bottom: 20px;

  &:before {
    content: '';
    opacity: 1;
    background: var(--primary-color);
    position: absolute;
    opacity: $layoutBackgroundOpacity;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    x-index: 10;
  }

  .swiper-wrapper {

    .swiper-slide {
      width: 80vw;
      margin: 20px 0px 8px 20px;
      background: var(--paper-color);
      border-radius: $radiusCorner;

      &:last-child {
        margin-right: 20px;
      }
    }
  }

}