@use "variables";

// Import Swiper styles

.swiper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.swiper-pagination {
  display: flex;
  cursor: pointer;
  z-index: 99;
  margin-bottom: 10px;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    background: var(--primary-color);
  }

  .swiper-pagination-bullet-active {
    background: var(--primary-color);
  }
}

.desktopSwiperStyle, .mobileSwiperStyle {

  padding-bottom: 36px;

  .swiper-slide.selected {
    border: solid 2px var(--primary-color);
    padding: 2px;
    position: relative;

    &:before {
      content: 'selected';
      position: absolute;
      top: 0; right: 8px;
      font-weight: bold;
      font-size: 0.5em;
      text-transform: uppercase;
      color: var(--primary-color);
    }
  }
}

.desktopSwiperStyle {
  .swiper-slide {
    &:after {
      content: '';
      opacity: 1;
      background: var(--primary-color);
      position: absolute;
      opacity: variables.$layoutBackgroundOpacity;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
      border-radius: variables.$radiusCorner;
    }
  }

  .swiper-slide {
    width: auto;
    margin: 0px 0px 8px 18px;
    background: var(--paper-color);
    border-radius: variables.$radiusCorner;
    overflow: hidden;
  }
}

.mobileSwiperStyle {
  position: relative;

  &:before {
    content: '';
    opacity: 1;
    background: var(--primary-color);
    position: absolute;
    opacity: variables.$layoutBackgroundOpacity;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .swiper-wrapper {

    .swiper-slide {
      width: 80vw;
      margin: 20px 0px 8px 20px;
      background: var(--paper-color);
      border-radius: variables.$radiusCorner;

      &:last-child {
        margin-right: 20px;
      }
    }
  }

}