.threeDotsAnimated{
  &:after {
    content: ' ...';
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
}

@keyframes slidein {
    0% { opacity: 1; }
   50% { opacity: 1; }
   75% { opacity: 0; }
  100% { opacity: 1; }
}

.delay2sec{
    animation-duration: 4s;
    animation-name: appear;
    animation-iteration-count: 1;
    position: relative;
}

@keyframes appear {
    0% { opacity: 0; }
   90% { opacity: 0; top: 10px; }
  100% { opacity: 1; top: 0px; }
}