#content{
  h2 {
    font-size: 2.3em;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      flex-grow: 3;
    }
    ul {
      li {

      }
    }
  }
  .inlineContent {
    .row{
      display: flex;
      flex-direciton: row;
      justify-content: space-between;
    }
    .thirdHeight {
      height: 33vh;
    }
    .halfHeight {
      height: 50vh;
    }
    .fullHeight {
      height: 100vh;
    }
    .padding{
      padding: 10px 18px;
    }
    .halfWidth{
      flex: 50%;
    }
    .thirdWidth{
      flex: 33%;
    }
    .twothirdWidth{
      flex: 64%;
    }
    .separator{
      border-bottom: solid 1px rgb(180, 180, 180);
    }
  }
  .containerContent{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  // Used in transactions to ahve a responsive two column layout
  .twoColumnContent, .sideListContent{
    width: 100%;
    height: 100%; // Full height to scroll in column
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease-out;
    .column:first-child{

      padding: 30px 40px;
      display: flex;
      flex-shrink: 0;
      align-items: stretch;
      .card{
        width: 100%;
        height: 100%;
        position: relative;
        .cardContainer{
          overflow: hidden;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          header {
            position: relative;
            color: white;
            padding-top: 10px;
            padding-right: 6px;
            h2 {
              font-weight: 500;
            }
            aside {
              position: absolute;
              top: 8px;
              right: 10px;
            }
          }
          article {
            @include smooth-scroll();
            font-size: 1.4em;
            small {
              text-transform: uppercase;
              color: #888;
              font-size: 0.6em;
              font-weight: 300;
            }
          }
        }
      }
    }
    .column:last-child{
      @include smooth-scroll();
      flex: 70%;
      .toolbar {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 30px 0px 10px;
      }
    }
  }
  .twoColumnContent{
    .column:first-child{
      flex: 30%;
      min-width: 420px;
      header{
        h2{
          padding: 60px 20px 30px 40px;
          font-size: 3.2em;
        }
      }
    }
  }
  .sideListContent{
    .column:first-child{
      flex: 250px !important;
      header{
        h2{
          padding: 10px 20px 10px 40px;
          font-size: 2.8em;
        }
      }
    }

  }
}

ul{
  li.isToday {
    position: relative;
    border-left: 3px solid var(--primary-color);
    &:first-child{
    }
    &:before{
      content: 'Today';
      color:  var(--primary-color);
      text-transform: uppercase;
      position: absolute;
      margin-top: 60px;
      margin-left: -50px;
      transform: rotate(-90deg);
    }
  }
  li.isToday + li.isToday{
    &:before{
      content: '';
    }
  }
}