@import "variables";
@import "mixins";
@import "content";
@import "layout";
@import "login";
@import "modal";
@import "metrics";
@import "animation";
@import "responsive";

* {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

html {
  // variables are updated by main.js based on theming
  --primary-color-background: white;
  --primary-color: white;
  --paper-color: white;
  --paper-transparent: white;
  --loading-color: lightGrey;
  --background-color: white;
  --background-transparent: white;
  --divider-color: grey;
  --text-color: black;
  --cardheader-color: lightGrey;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  color: var(--text-color);
  height: 100vh;

  body {
    line-height: 1.3em;
    margin: 0px !important;
    background-color: var(--primary-color-background);
  }

  #app {

    // Will contain the all application.
    #appContainer { // main.js
      // Position fixed disable elastic scroll on iOS devices
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      // background for tablet and phone notch
      #safeAreaInsetTop {
        position: absolute;
        z-index: 1010;
        top: 0px;
        left: 0px;
        right: 0px;
        height: constant(safe-area-inset-top); // 
        height: env(safe-area-inset-top);
        background: var(--primary-color-background);
      }

      main {
        @media screen and (max-width: $smallScreen - 1px) {
          background-color: var(--paper-color);
        }

        @media screen and (min-width: $smallScreen) {
          background-color: var(--background-color);
        }

      }
    }
  }
}

// Remove styling for links, included styling for buttons in link.
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

// Used to display empy list of items like transactions, countires, categories, currencies, etc.
.emptyContainer {
  opacity: 0.8;
  font-size: 0.8em;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}