@use "variables";
@use "mixins";
@use "metrics";
@use "animation";
@use "responsive";
@use "swipper";

* {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

html {
  // variables are updated by main.js based on theming
  --primary-color-background: white;
  --primary-color: white;
  --paper-color: white;
  --paper-transparent: white;
  --loading-color: lightGrey;
  --background-color: white;
  --background-transparent: white;
  --divider-color: grey;
  --text-color: black;
  --cardheader-color: lightGrey;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text-color);
  line-height: 1.3em;
}

html, body {
  background: var(--html-background-color);
}

// Remove styling for links, included styling for text in <Button /> in link.
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

// Used to display empy list of items like transactions, countires, categories, currencies, etc.
.emptyContainer {
  opacity: 0.8;
  font-size: 0.8em;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
  width: 100%;
}

.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: variables.$radiusCorner;
  position: relative;
  margin-top: 12px;
  padding: 8px 18px;
  border: solid 2px var(--paper-color);
  overflow: hidden;

  &:after {
    content: '';
    opacity: 1;
    background: var(--primary-color);
    position: absolute;
    opacity: variables.$layoutBackgroundOpacity;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    x-index: 0;
    pointer-events: none;
  }

  .price {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
  }
  .duration {
    text-transform: uppercase;
    font-size: 0.7em;
  }

  &.selected, &.current {
    border: solid 2px var(--primary-color);
    position: relative;

    &:before {
      content: 'selected';
      position: absolute;
      top: 0; right: 8px;
      font-weight: bold;
      font-size: 0.5em;
      text-transform: uppercase;
      color: var(--primary-color);
    }
    .duration {
      // padding-top: 8px;
    }
  }

  &.current {
    &:before {
      content: '';
    }
  }
}