@import "variables";
@import "mixins";
@import "metrics";
@import "animation";
@import "responsive";

* {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

html {
  // variables are updated by main.js based on theming
  --primary-color-background: white;
  --primary-color: white;
  --paper-color: white;
  --paper-transparent: white;
  --loading-color: lightGrey;
  --background-color: white;
  --background-transparent: white;
  --divider-color: grey;
  --text-color: black;
  --cardheader-color: lightGrey;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text-color);
  line-height: 1.3em;
}

html, body {
  background: var(--html-background-color);
}

// Remove styling for links, included styling for text in <Button /> in link.
a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

// Used to display empy list of items like transactions, countires, categories, currencies, etc.
.emptyContainer {
  opacity: 0.8;
  font-size: 0.8em;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

.mobile_footer_padding {
  @media screen and (max-width: $smallScreen - 1px) {
    padding-bottom: calc(40px + env(safe-area-inset-bottom));
  }
}