#loginLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 599px) {
      @include smooth-scroll();
  }

  header {
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
    h1 {
      font-size: 4em;
      color: white;
    }
  }

  div.content {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

    @media screen and (max-width: 599px) {
      padding: 30px 20px 60px 20px;
      &:after {
        content: '';
        width: 60%;
        margin: auto;
        position: absolute;
        bottom: 0px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2)
      }
    }
    @media screen and (min-width: 600px) {
      width: 100%;
    }
  }

  footer {

    font-size: 16px;
    color: white;
    line-height: 1.3em;
    display: flex;

    @media screen and (max-width: 599px) {
      flex-direction: column-reverse;
      padding: 20px 10px;
    }
    @media screen and (min-width: 600px) {
      justify-content: space-between;
      align-items: flex-end;
      padding: 30px;
    }

    .connectForm , form{
      display: flex;

      button:disabled {
        svg {
          fill: white !important;
        }
      }

      @media screen and (max-width: 599px) {
        align-items: flex-start;
        flex-direction: column;
      }
      @media screen and (min-width: 600px) {
        align-items: flex-end;
      }
    }
  }
}