#loginLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 639px) {
    @include smooth-scroll();
  }

  header {
    padding-top: 10px;
    padding-left: 30px;
    text-align: left;
    h1 {
      font-size: 4em;
      color: white;
    }
  }

  div.content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @media screen and (max-width: 639px) {
      padding: 30px 20px 60px 20px;
      &:after {
        content: "";
        width: 60%;
        margin: auto;
        position: absolute;
        bottom: 0px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      }
    }
    @media screen and (min-width: 640px) {
      width: 100%;
    }
  }

  footer {
    font-size: 16px;
    color: white;
    line-height: 1.3em;
    display: flex;

    @media screen and (max-width: 639px) {
      flex-direction: column-reverse;
      padding: 20px 10px;
    }
    @media screen and (min-width: 640px) {
      justify-content: space-between;
      align-items: flex-end;
      padding: 30px;
    }

    .connectForm {
      display: flex;

      button:disabled {
        svg {
          fill: white !important;
        }
      }

      @media screen and (max-width: 639px) {
        align-items: flex-start;
        .connectButton {
          padding: 0 20px;
          margin-left: 6px;
        }
        .storageIcon {
          display: none !important;
        }
      }
      @media screen and (min-width: 640px) {
        align-items: flex-end;
        .connectButton {
          padding: 0 20px;
          margin-left: 6px;
        }
      }
    }
  }
}
