#loginLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-bewteen;

  header {
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
    h1 {
      font-size: 4em;
      color: white;
    }
  }

  div.content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
}