@import "mixins";
@import "content";
@import "login";
@import "form";
@import "animation";

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.beta:after {
  content: "beta";
  font-size: 0.3em;
  opacity: 0.5;
  vertical-align: super;
}

// Variables
html {
  --primary-color: brown;
  font-family: "Roboto", "Helvetica", "sans-serif";
  overflow: hidden; // Disable elastic scroll
  height: 100%;
  /* iOS 11 && iOS 11.2+ */
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  body {
    font-size: 13px;
    line-height: 1.3em;
    margin: 0px !important;
    main {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      overflow: hidden;
      display: flex;

      @media screen and (max-width: 639px) {
        flex-direction: column;
      }
      @media screen and (min-width: 640px) {
        flex-direction: row;
      }
      @media screen and (min-width: 640px) {
        #iPadBorder {
          background: black;
          opacity: 0.6;
          position: absolute;
          z-index: 1010;
          top: 0px;
          left: 0px;
          right: 0px;
          height: constant(safe-area-inset-top);
          height: env(safe-area-inset-top);
        }
      }

      aside.navigation {
        flex-shrink: 0;
        z-index: 1001;

        @media screen and (min-width: 640px) {
          -webkit-transition: background-color 300ms ease-in-out;
          -ms-transition: background-color 300ms ease-in-out;
          transition: background-color 300ms ease-in-out;
        }

        &.notloggedin {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          overflow: hidden;
          display: flex;
          // Here go the login.scss file
        }

        &.loggedin {
          /* iOS 11 && iOS 11.2+ */
          padding-left: constant(safe-area-inset-left);
          padding-left: env(safe-area-inset-left);

          @media screen and (max-width: 639px) {
            box-shadow: 0px 0px 2px #555;
            z-index: 999;
            width: 100vw;
            height: 60px;
            /* iOS 11 && iOS 11.2+ */
            padding-top: constant(safe-area-inset-top);
            padding-top: env(safe-area-inset-top);
          }
          @media screen and (min-width: 640px) {
            width: 60px;
            height: 100vh;
          }
        }
        #hamburger_menu {
          @media screen and (min-width: 640px) {
            display: none;
          }
        }
        .drawer {
          /* iOS 11 && iOS 11.2+ */
          padding-top: constant(safe-area-inset-top);
          padding-top: env(safe-area-inset-top);
        }
        nav {
          /* iOS 11 && iOS 11.2+ */
          padding-top: constant(safe-area-inset-top);
          padding-top: env(safe-area-inset-top);
          @media screen and (max-width: 639px) {
            display: none;
          }
        }
      }
      #container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 639px) {
          overflow: auto;
        }

        @media screen and (min-width: 640px) {
          height: 100%;
        }

        #toolbar {
          border-bottom: solid 1px rgb(180, 180, 180);
          flex-shrink: 0;
          background: rgb(232, 232, 232);
          /* iOS 11 && iOS 11.2+ */
          padding-top: constant(safe-area-inset-top);
          padding-top: env(safe-area-inset-top);
          padding-right: constant(safe-area-inset-right);
          padding-right: env(safe-area-inset-right);
          @media screen and (max-width: 639px) {
            display: none !important;
          }
        }
        #content {
          /* iOS 11 && iOS 11.2+ */
          padding-right: constant(safe-area-inset-right);
          padding-right: env(safe-area-inset-right);
          @include smooth-scroll();
          flex-grow: 1;
          position: relative;
          // CONTENT STUFF ARE DEFINED IN CONTENT.SCSS FILE
        }
      }
    }
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

p {
  line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

// TRANSACTION TABLE CSS
ul {
  li.isToday,
  li.isYesteday {
    position: relative;
    border-left: 3px solid var(--primary-color);
    &:first-child {
    }
    &:before {
      color: var(--primary-color);
      text-transform: uppercase;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0px;
      transform: rotateZ(-90deg);
    }
  }
  li.isToday + li.isToday,
  li.isYesteday + li.isYesteday {
    &:before {
      content: "";
    }
  }

  li.isToday {
    &:before {
      content: "Today";
      margin-left: -50px;
      top: 0px;
    }
  }
  li.isYesteday {
    &:before {
      content: "Yesteday";
      margin-left: -60px;
      top: 20px;
    }
  }
}

// DASHBOARD
.triptych {
  width: 100%;

  @media screen and (max-width: 639px) {
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
  }
  @media screen and (min-width: 1024px) {
    height: 450px;
    display: flex;
  }

  div.item {
    margin: 20px 0 40px 0;
    padding: 0px 20px;
    position: relative;
    flex-direction: column;
    display: flex;
    &:after {
      content: "";
      width: calc(100% - 60px);
      margin: auto;
      position: absolute;
      bottom: -20px;
      right: 30px;
      border-bottom: solid 1px $lineColor;
    }
    &:first-child {
      @media screen and (max-width: 1023px) {
      }
      @media screen and (min-width: 1024px) {
        border-right: solid 1px $lineColor;
        width: calc(100% / 2);
      }
      h2 {
        line-height: 20px;
        margin: 16px 0 8px 0;
      }
    }
    &:last-child {
      @media screen and (max-width: 1023px) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: 1024px) {
        border-left: solid 1px $lineColor;
        width: calc(100% / 2);
      }
    }
    .wrapper {
      flex-grow: 1;
      padding-right: 16px;
      @include smooth-scroll();
    }
  }
  .wrapperMetrics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .metrics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      font-size: 1.6em;
      p {
        box-sizing: border-box;
        padding: 8px 10px;
        margin: 0;
        width: calc(100% / 3);
        min-width: 160px;
        white-space: nowrap;
        small {
          font-size: 0.5em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.monolith {
  margin: 0 20px;
  &.separator {
    margin-bottom: 40px;
    position: relative;
    &:after {
      content: "";
      width: calc(100% - 20px);
      margin: auto;
      position: absolute;
      bottom: -10px;
      right: 10px;
      border-bottom: solid 1px $lineColor;
    }
  }
}

.camembert {
  justify-content: space-between;
  padding-bottom: 40px;
  @media screen and (max-width: 639px) {
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    height: 60vh;
  }

  div.item {
    &:first-child {
      padding-top: 20px;
      @media screen and (max-width: 1023px) {
        height: 50vh;
        max-height: 80vw;
        margin-left: 20px;
        margin-right: 20px;
      }
      @media screen and (min-width: 1024px) {
        width: calc(100% / 1.5);
      }
    }
    &:last-child {
      padding: 5px;
      margin: 20px 40px 20px 20px;
      @media screen and (min-width: 1024px) {
        width: calc(100% / 3);
      }
      .card {
        height: calc(60vh - 40px);
        overflow: auto;
        @include smooth-scroll();
      }
    }
  }
}

.stickyDashboard {
  background: #eee;
  z-index: 100;
  position: relative;
  margin-bottom: 20px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 619px) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  @media screen and (min-width: 1024px) {
    position: -webkit-sticky;
    position: sticky;
  }

  h2 {
    margin-bottom: 0;
  }
  &:after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -20px;
    background: linear-gradient(
      to bottom,
      rgba(238, 238, 238, 1),
      rgba(238, 238, 238, 0)
    );
  }
}

/* USED BY CHARTS */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* padding-bottom: 100%; aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.indicators {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  p {
    padding: 0 8px;
    margin: 8px 0 2px 0;
    small {
      text-transform: uppercase;
      font-size: 0.6em;
      font-weight: 300;
    }
  }
}

.separatorSandwitch {
  margin-bottom: 40px;
  position: relative;
  &:before {
    content: "";
    width: calc(100% - 20px);
    margin: auto;
    position: absolute;
    top: 0px;
    right: 10px;
    border-bottom: solid 1px $lineColor;
  }
  &:after {
    content: "";
    width: calc(100% - 20px);
    margin: auto;
    position: absolute;
    bottom: -10px;
    right: 10px;
    border-bottom: solid 1px $lineColor;
  }
}
