@use "../../../www/styles/variables";

table.transactionList {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  margin-top: 40px;
  margin-bottom: 24px;
  tr {
    &:first-child {
      th {
        height: 20px;
      }
    }
    th {
      position: relative;
      height: 40px;
      border-right: solid 2px var(--primary-color);
    }
    td {
      position: relative;
      line-height: 1.1em;
      &:first-child {
        padding-right: 12px;
        min-width: 20%;
        text-align: right;
        border-right: solid 2px var(--primary-color);

        // After draw the circle
        &:after {
          content: "";
          background: var(--primary-color);
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          border: solid 3px var(--paper-color);
          top: calc(50% - 6px);
          right: -7px;
        }
      }

      &:last-child {
        padding-right: 8px;
        text-align: right;
        width: 53px;
      }
    }

    &.isPending {
      td:first-child {
        p {
          color: var(--number-yellow-color);
          margin-top: 0px;
          margin-bottom: 0;
          font-size: 0.8em;
        }
      }
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 0px;
    transform: translateX(50%);

    position: absolute;
    white-space: nowrap;
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    z-index: 99;

    @media screen and (max-width: variables.$smallScreen - 1px) {
      font-size: 0.9em;
    }
  }

  &.transactionListLoading {
    opacity: 0.6;
  }
}

.moreButton {
  margin-top: 40px;
  margin-bottom: 24px;
}
