@import "../../../www/styles/variables";

.transactionsTable {
  border-collapse: collapse;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;

  tr {
    transition: background 0.2s;
    &:first-child {
      .line{
          &:after {
            content: "";
            border-left: solid 2px var(--primary-color);
            height: 50%;
            margin-left: 11px;
            margin-top: 70%;
          }
      }
      td {
        padding-top: 20px !important;
      }
    }
    &:last-child {
      .line{
          &:after {
            content: "";
            border-left: solid 2px var(--primary-color);
            height: 50%;
            margin-left: 11px;
            position: absolute;
            top: 0;
            bottom: 0;
          }
      }
    }
    .line {
      width: 24px;
      position: relative;

      strong {
        position: absolute;
        white-space: nowrap;
        background: var(--primary-color);
        color: white;
        text-align: center;
        padding: 2px 6px;
        border-radius: 8px;
        font-size: 0.8rem;
        font-weight: 500;
        z-index: 99;
        bottom: 5px;
        left: -10px;
      }

      &.date {
        height: 30px;
      }

      // Border
      &:after {
        content: "";
        border-left: solid 2px var(--primary-color);
        height: 100%;
        margin-left: 11px;
        position: absolute;
        top: 0;
        bottom: 0;
      }

      // Dot
      &.dot {
        position: relative;
        &:before {
          content: "";
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -2px;
          margin-left: -2px;
          width: 6px;
          height: 6px;
          border-radius: 10px;
          background: var(--primary-color);
        }
      }
      &.donut {
        position: relative;
        &:before {
          content: "";
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -5px;
          margin-left: -5px;
          width: 8px;
          height: 8px;
          border: solid 2px var(--primary-color);
          border-radius: 10px;
          background: white;
          z-index: 99;
        }
      }
    }
  }
}

.moreButton {
  margin-bottom: 24px;
}