alabaster==0.7.13
argh==0.28.1
astroid==2.15.3
Babel==2.12.1
backports.ssl-match-hostname==3.7.0.1
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
dill==0.3.6
docutils==0.17
idna==3.4
imagesize==1.4.1
importlib-metadata==6.4.1
isort==5.12.0
Jinja2==3.1.6
lazy-object-proxy==1.9.0
livereload==2.6.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
myst-parser==1.0.0
packaging==23.1
pathtools==0.1.2
pip-review==1.3.0
platformdirs==3.2.0
Pygments==2.15.0
pylint==2.17.2
pylint-django==2.5.3
pylint-plugin-utils==0.7
PyMySQL==1.0.3
PyYAML==6.0
requests==2.28.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-reload==0.2.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
tomlkit==0.11.7
tornado==6.2
typing_extensions==4.5.0
urllib3==1.26.15
watchdog==3.0.0
wrapt==1.15.0
zipp==3.15.0